@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@300&family=Raleway:wght@400;700&family=Roboto:ital,wght@0,300;1,300&family=Work+Sans&display=swap');
.formsConsigna {
    background-color: rgba(0, 0, 255, 0.2); 
    padding: 20px;
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    max-width: 600px;
    border-radius: 15px;
  }
  
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .textosForms {
    padding: 15px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    width: 500px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 20px;
  }