<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<% if (locals.user != undefined) { %>
	<%- include('./partials/headerLogueado') %>
 <% } else { %>
	<%- include('./partials/headerOriginal') %>
<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="formsConsigna" action="/login" method="post">
				<label class="blancos" for="email">Email:</label>
				<input class="textosForms" type="text" id="email" name="email"><br>
			  
				<label class="blancos" for="contrase単a">Contrase単a:</label>
				<input class="textosForms" type="password" id="contrase単a" name="contrase単a"><br>
			  
				<label class="blancos" for="Recordarme">Recordarme</label>
				<input class="textosForms" type="checkbox" id="Recordarme" name="Recordarme"><br>
				<% if (error) { %>
					<br>
					<p class="blancos"><%= error %></p>
				<% } %>
				<input class="textosForms" type="submit" value="Enviar">
			  </form>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>