<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/headerOriginal') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="formsConsigna" action="/register" method="post">
				<label class="blancos" for="email">Email:</label>
				<input class="textosForms" type="email" id="email" name="email"><br>

				<label class="blancos" for="usuario">Usuario:</label>
				<input class="textosForms" type="text" id="usuario" name="usuario"><br>
			  
				<label class="blancos" for="contrase単a">Contrase単a:</label>
				<input class="textosForms" type="password" id="contrase単a" name="contrase単a"><br>
			  
				<label class="blancos" for="fecha_nacimiento">Fecha de Nacimiento:</label>
				<input class="textosForms" type="date" id="fecha_nacimiento" name="fecha_nacimiento"><br>
			  
				<label class="blancos" for="nro_documento">Nro de Documento:</label>
				<input class="textosForms" type="number" id="nro_documento" name="nro_documento"><br>
			  
				<label class="blancos" for="foto_perfil">Foto de Perfil:</label>
				<input class="textosForms" type="text" id="foto_perfil" name="foto_perfil"><br>

				<% if (error) { %>
					<br>
					<p class="blancos"><%= error %></p>
				<% } %>
			  
				<input class="textosForms" type="submit" value="Enviar">
			  </form>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>