<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>En iphonify, queremos que estés lo más cómodo posible. Por eso, elegí el método de pago que vos prefieras.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envío gratis desde $200.000</h2>
                    <p>Aprovechá las ofertas disponibles y disfruta además de recibir tu iphone en la puerta de tu casa.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Nuestro equipo</h2>
                    <p>Integrantes: Santiago Junco, Luciano Setton, Nazareno Flores Muñoz.</p>
                </article>
            </div>
        </div>
    </div>
</footer>